body {
    margin: 0;
    background-color:black;
    color:white;
  }
  
  hr {
    height: 3px; 
    background-color:#fff;
    border: 1px solid black;
    margin-top:0px;
    margin-bottom:0px;
  }

  main {
    margin: 20px;
    font-size: 18px;
  }

  intro p {
      font-family: "Comic Sans MS";
      display: inline-flex;
      flex-direction: row;
     
  }

  .contact {
    margin:50px;
  }

  .projectSection {
    margin:30px;
  }

  intro ul {
    text-align: center;
    text-justify:center;
  }


  aboutme {
      font-family: "Comic Sans MS";
      display: inline-flex;
      flex-direction: column;
  }

  contactme {
      display: inline-flex;
      flex-direction: row;
  }

  .portfolio-image {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 50%
  }

  .intro {
    display: inline-flex;
    flex: 1;
    justify-content: flex-start;
  }

  .about {
    display: inline-flex;
    flex: 1;
    justify-content: flex-end;
  }
  
  header {
    background-color: #000;
    margin-bottom: 40px;
    font-family: "Comic Sans MS";
  }
  
  header h1 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding-top: 20px;
  }
  
  header nav {
    display: flex;
    justify-content: center;
  }
  
  header nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px 0 0;
  }
  
  header nav ul li:last-child a {
    margin-right: 0;
  }
  
  a:link {color:rgb(31, 209, 120)}
  a:visited {color:blueviolet}
  a:hover {color:rgb(245, 144, 28)}
  a:active {color:red}

  @media all and (min-width: 600px) {
    header {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
    }
  
    header h1 {
      margin: 14px 0;
      padding-top: 0;
    }
    
    header nav {
      margin-top: 8px;
    }
  
    header nav ul li a:hover {
      color: #bdbdbd;
    }
  }